<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Codeforces Problems</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Random Codeforces Problems</h1>
    <div id="problemLinks">
        {% for problem in problems %}
            <a href="{{ problem.url }}" target="_blank">{{ problem.name }}</a><br>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html> -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Codeforces Problems</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Random Codeforces Problems</h1>
    <div id="problemLinks">
        {% for url in problem_urls %}
            <a href="{{ url }}" target="_blank">{{ url }}</a><br>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
 -->


 <!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Codeforces Problems</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Random Codeforces Problems</h1>
    <div id="problemLinks">
        {% for url in problem_urls %}
            <a href="{{ url }}" target="_blank">problems</a><br>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Codeforces Problems</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Random Codeforces Problems</h1>
    <div id="problemLinks">
        {% for problem in problems_info %}
            <a href="{{ problem.url }}" target="_blank">{{ problem.name }}</a><br>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
